body{
	background-color: gray;
	font-family: 'Roboto', sans-serif;
}
.button{
	background-color: lime;
	color: white;
	padding: 15px;
	border: none;
	transition-duration: 0.4s;
	border-radius: 5
	px;	
}
.button:hover{
	cursor: pointer;
	background-color: white;
	color: black;
}